
body {
    font-family: sans-serif;
    width: 90%;
    margin: 1% auto;
    padding: 10px;
}

label {
    display: inline;
    font-size: 20px;
}

input[type=text], input[type=password] {
    width: 400px;
    font-size: 20px;
}

input[type=submit] {
    font-size: 24px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

#page {
    padding: 20px;
    border: 5px solid #ccc;
    padding-bottom: 3em;
}

html, body, #page {
    height: 100%;
    min-height: 100%;
}

.error {
    color: red;
}

.post + .post {
    margin-top: 20px;
}

.post-title {
    font-weight: bold;
    font-size: 20px;
}

.post-body {
    margin: 0;
    font-size: 17px;
}

.flash {
    background: #cfb470;
    border: 1px solid #58301d;
}

#metanav {
}

.nav-item + .nav-item {
    padding-left: 50px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10%;
    height: 3em;
    margin-top: -3em;
    padding: 10px;
}

