{% extends "layout.html" %}
{% block body %}
    <p> This is where the dashboard goes. </p>
    {% if session.logged_in %}
        <form action="{{ url_for('add_post') }}" method=post class=add-entry>
            <dt>Title:</dt>
            <dd><input type=text size=80 name=title></dd>
            <dt>Body:</dt>
            <dd><textarea name=body rows=30 cols=80></textarea></dd>
            <dd><input type=submit value=Share></dd>
        </form>
    {% endif %}
{% endblock %}
