<!doctype html>
<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id=page>
        <h1>Minky's Corner</h1>
        <div id=metanav>
            <span class=nav-item>
                <a href="{{ url_for('musings') }}">musings</a>
            </span>
            <span class=nav-item>
                <a href="{{ url_for('minecraft') }}">minecraft</a>
            </span>
            <span class=nav-item>
                <a href="{{ url_for('about') }}">author</a>
            </span>
            <span class=nav-item>
                <a href="{{ url_for('games') }}">games</a>
            </span>
        </div>
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
    <div id=footer>
        footer
    </div>
</body>
