{% extends "layout.html" %}
{% block body %}
    <h2>Login</h2>
    {% if error %}
        <p class=error><strong>Error:</strong>{{ error }}
    {% endif %}
    <form action="{{ url_for('login') }}" method=post>
        <div>
            <label>username:</label>
            <input type=text name=username>
        </div>
        <div>
            <label>password:</label>
            <input type=password name=password>
        </div>
        <input type=submit value=Login>
    </form>
{% endblock %}
