{% extends "layout.html" %}
{% block body %}
    <ul class=posts>
    {% for post in posts %}
        <li class=post>
            <div class=title>{{ post.title }}</div>
            <div class=body>{{ post.body|safe }}</div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
